*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #05091f;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #00a1ff;
    transform: translate(5px, 5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation:animate 4s linear infinite;
}
@keyframes rotate
{
    {
    transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
}
}
@keyframes animate
{
    0%,100%
    {
        stroke-dashoffset: 440;
    }
    50%
    {
        stroke-dashoffset: 0;
    }
    50.1%
    {
        stroke-dashoffset: 880;
    }
}
h1{
    background: linear-gradient(90deg,#00a1ff,#ffff,#00a1ff,#ffff,#00a1ff);
    background-size: 400%;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    word-spacing: 4px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate1 10s linear infinite;

}
@keyframes animate1{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}
p{
    position: relative;
    justify-content: center;
    color: #ffff;
    padding-top: 40%;
    font-family: sans-serif;
}